<head th:fragment="header">
	<title>Peak Obsession</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/webjars/datatables/css/jquery.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" href="/webjars/chosen/chosen.min.css"/>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/webjars/chosen/chosen.jquery.min.js"></script>
</head>