<div class="row" th:fragment="mountaingrid">
    <div class="col">
        <table id="gridTable" class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>January</th>
                    <th>February</th>
                    <th>March</th>
                    <th>April</th>
                    <th>May</th>
                    <th>June</th>
                    <th>July</th>
                    <th>August</th>
                    <th>September</th>
                    <th>October</th>
                    <th>November</th>
                    <th>December</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mountain : ${grid.getGrid()[0].getMountains()}">
                    <td th:text="${mountain.name}"></td>
                    <td th:each="list : ${grid.grid}" th:text="${grid.getGrid()[listStat.index].getMountains().get(mountainStat.index).year}"></td>
                </tr>
            </tbody>
            <tfoot>
            	<tr>
            		<td></td>
            		<td th:each="month : ${grid.monthTotals}" th:text="${month}"></td>
           		</tr>
         	</tfoot>
            
        </table>
    </div>
</div>