<div class="row" th:fragment="mountainlist">
	<div class="col">
		<table id="listTable" class="table">
			<thead>
				<tr>
					<th>Number</th>
					<th>Mountain</th>
					<th>Elevation</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="mountain, iterStat : ${list.mountains}">
					<td th:text="${iterStat.count}"></td>
					<td th:text="${mountain.name}"></td>
					<td th:text="${mountain.elevation}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" th:fragment="usermountainlist">
    <div class="col">
        <table id="listTable" class="table">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Mountain</th>
                    <th>Elevation</th>
                    <th th:if="${friendlist}" th:text="${user}"></th>
                    <th th:if="${friendlist}" th:text="${list.friend}"></th>
                    <th th:unless="${friendlist}">Completed</th>
                    <th th:unless="${friendlist}">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mountain, iterStat : ${list.mountains}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${mountain.name}"></td>
                    <td th:text="${mountain.elevation}"></td>
                    <td><span th:if="${mountain.completed}">X</span></td>
                    <td th:if="${friendlist}"><span th:if="${friendlist.mountains[iterStat.index].completed}">X</span></td>
                    <td th:unless="${friendlist}" th:text="${mountain.date}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>