.btn-peak {
    color: #fff;
    background-color: #338233;
    border-color: #338233;
}

.color-peak {
	color: #338233;
}

.color-navitem {
	color: black;
}

.bg-peak {
	background-color: #338233;
}

.alert-peak {
    color: black;
    background-color: #b5651d;
    border-color: #b5651d;
}