.btn-peak {
    color: #fff;
    background-color: #338233;
    border-color: #338233;
}

.color-peak {
	color: #338233;
}

.color-white {
	color: white;
}

.color-black {
	color: black;
}

.color-brown {
    color: #b5651d;
}

.bg-peak {
	background-color: #338233;
}

.alert-peak {
    color: white;
    background-color: #b5651d;
    border-color: #b5651d;
}

.nav-link.active {
    background-color: #b5651d !important;
    color : white !important;
}

.w-5 {
	width : 5%;
}
}