<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container">
		<div class="row pt-3">
			<div class="col">
				<h2>Add Hike</h2>
			</div>
		</div>
		<div class="row" th:if="${status}">
            <div class="col">
                <div class="alert alert-danger" th:if="${not status.success}" th:text="${status.message}"></div>
                <div class="alert alert-success" th:if="${status.success}" th:text="${status.message}"></div>
            </div>
        </div>
		<div class="row">
			<div class="col">
				<form action="/myhikes/addhike" method="post" class="needs-validation" novalidate="novalidate">
					<div class="form-group">
						<label for="date">Date</label> <input type="date" th:attr="max=${today}"
							class="form-control" id="date" name="date" required="required">
							<div class="invalid-feedback">Must have a valid date.</div>
							</input>
					</div>
					<div class="form-group">
                        <label for="mountain">Mountain(s)</label>
	                    <select class="form-control chosen" id="mountain" name="mountain" multiple="multiple" 
	                    data-placeholder="Select your mountain(s)" >
	                        <option th:each="mountain : ${mountains}" th:attr="value=${mountain.id}" th:text="${mountain.name}"></option>
	                    </select>
	                </div>
					<div class="form-group">
						<label for="miles">Miles</label> <input type="number" min="0" max="4000" step="0.1"
							class="form-control" id="miles" name="miles">
							<div class="invalid-feedback">Miles must be positive, can have one decimal place and must be a reasonable size number.</div>
							</input>
					</div>
					<div class="form-group">
                        <label for="elevation">Elevation</label> <input type="number" min="0" max="500000" step="1"
                            class="form-control" id="elevation" name="elevation">
                            <div class="invalid-feedback">Elevation must be positive and be a reasonable size number.</div>
							</input>
                    </div>
                    <div class="form-group">
                        <label for="friend">Friend(s)</label><img src="/images/icons/info1.jpg" class="height-25 ml-1" data-toggle="tooltip" data-placement="right" title="Keep track of which mountains you have hiked with your friends. You can work towards completing lists with each friend. Friends can be added on the friends page."/>
                        <select class="form-control chosen" id="friend" name="friend" multiple="multiple" 
                        data-placeholder="Select your friend(s)" >
                            <option th:each="friend : ${friends}" th:attr="value=${friend.id}" th:text="${friend.name}"></option>
                        </select>
	                </div>
	                
                    <div class="form-group">
                    	<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#additonalOptions">+ Additional Options</button>
                    </div>                 
                    <div class="collapse" id="additonalOptions">
	                    	<div class="form-group">
	                    		<label for="startTime">Start Time: </label><img src="/images/icons/info1.jpg" class="height-25 ml-1" data-toggle="tooltip" data-placement="right" title="Fill in start time or end time when your hike was on the solstice or equinox and you want it to count towards a season."/>
	                    		<input type="time" class="form-control" id="startTime" name="startTime"/>
	                    	</div>
	                    	<div class="form-group">
	                    		<label for="endTime">Finish Time:</label>
	                    		<input type="time" class="form-control" id="endTime" name="endTime"/>
	                    	</div>
                    </div>
                    
	                
					<div class="form-group pt-3">
					   <button type="submit" class="btn btn-peak">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row padding-top-md py-3">
            <div class="col">
                <a class="btn btn-peak" href="/myhikes/">My Hikes</a>
            </div>
        </div>
	</div>
	<script>
    $(document).ready(function(){
        $('#mountain').chosen();
        $('#friend').chosen();
        $('[data-toggle="tooltip"]').tooltip();
        //custom form validation
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function(form) {
        	form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
             }, false);
          });
    });
    </script>
</body>
</html>