<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container">
		<div class="row pt-3">
			<div class="col">
				<h2>Add Hike</h2>
			</div>
		</div>
		<div class="row" th:if="${status}">
            <div class="col">
                <div class="alert alert-danger" th:if="${not status.success}" th:text="${status.message}"></div>
                <div class="alert alert-success" th:if="${status.success}" th:text="${status.message}"></div>
            </div>
        </div>
		<div class="row">
			<div class="col">
				<form action="/myhikes/addhike" method="post">
					<div class="form-group">
						<label for="date">Date</label> <input type="date" th:attr="max=${today}"
							class="form-control" id="date" name="date" required="required"/>
					</div>
					<div class="form-group">
						<label for="miles">Miles</label> <input type="text"
							class="form-control" id="miles" name="miles" required="required"/>
					</div>
					<div class="form-group">
                        <label for="elevation">Elevation</label> <input type="text"
                            class="form-control" id="elevation" name="elevation" required="required"/>
                    </div>
                    <div class="form-group">
                        <label for="mountain">Mountain(s)</label>
	                    <select class="form-control chosen" id="mountain" name="mountain" multiple="multiple" 
	                    data-placeholder="Select your mountain(s)" >
	                        <option th:each="mountain : ${mountains}" th:attr="value=${mountain.id}" th:text="${mountain.name}"></option>
	                    </select>
	                </div>
					<div class="form-group pt-3">
					   <button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
		<div class="row padding-top-md py-3">
            <div class="col">
                <a class="btn btn-info" href="/myhikes/">My Hikes</a>
            </div>
        </div>
	</div>
	<script>
    $(document).ready(function(){
        $('#mountain').chosen();
    });
    </script>
</body>
</html>