<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div class="row pt-3">
            <div class="col">
             <div class="alert alert-primary">Please make your selection below.</div>
            </div>
        </div>
        <div class="row">
            <div class="col"><a class="btn btn-info" href="/">View Features</a></div>
            <div class="col"><a class="btn btn-info" href="/features/addfeature">Add Feature</a></div>
        </div>
        <div class="row" th:each="feature : ${features}">
            <div class="col"><div class="alert alert-primary" th:text="${feature.name}"></div></div>
        </div>
    </div>
</body>
</html>