<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container">
		<div class="row pt-3">
			<div class="col">
			 <div class="alert alert-peak">Please make your selection below.</div>
			</div>
		</div>
		<div class="row">
			<div class="col"><a class="btn btn-peak" href="/myhikes">View My Hikes</a></div>
			<div class="col"><a class="btn btn-peak" href="/myhikes/addhike">Add Hike</a></div>
		</div>
	</div>
</body>
</html>