<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
	<div class="container">
		<div class="row pt-3 text-center">
			<img class="mx-auto d-block" src="/images/icons/mountain.png"></img>
		</div>
		<div class="row">
			Peak obsession is for those of us who love the mountains of the northeast. I always tracked my 
			hiking lists on spreadsheets and my girlfriend would do the same and we when we wanted to do a hike
			we would have to do a complicated cross reference to try and figure out which mountains we both needed
			for which lists and what months and then when we hiked with friends with their own list goals...needless 
			to say it became a complicated affair. So Peak Obsesion was born! This site allows you to enter your 
			hikes, check your progress on lists, and then view which hikes you and a friend both need for lists. Hopefully
			you find it useful!
		</div>
		<div class="row mt-5">
			<div class="col"><a class="btn btn-peak" href="/myhikes">View My Hikes</a></div>
			<div class="col"><a class="btn btn-peak" href="/myhikes/addhike">Add Hike</a></div>
		</div>
	</div>
</body>
</html>