<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div class="row pt-3">
            <div class="col">
             <div class="alert alert-primary">
                <h2 th:text="${list.name}"></h2>
                <h4 th:text="${list.description}"></h4>
                <a class="btn btn-info"  
                th:href="@{/list/user(name=${list.name},type=${list.type})}">My Progress</a>
             </div>
            </div>
        </div>
        <div th:if="${list.isMountainType()}" th:replace="fragments/mountainlist :: mountainlist"></div>
    </div>
</body>
</html>