<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="/webjars/datatables/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div class="row pt-3">
            <div class="col">
                <h2>My Hikes</h2>
            </div>
        </div>
        <div class="row" th:if="${status}">
            <div class="col">
                <div class="alert alert-danger" th:if="${not status.success}" th:text="${status.message}"></div>
                <div class="alert alert-success" th:if="${status.success}" th:text="${status.message}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="myHikesTable" class="table table-hover">
                <thead>
			      <tr>
			        <th></th>
			        <th>Date</th>
			        <th>Mountains</th>
			        <th>Miles</th>
			        <th>Elevation</th>
			        <th>Friends</th>
			      </tr>
			    </thead>
			      <tbody>
			      <tr class="table-success" th:each="hike : ${hikes}">
			        <td class="w-5 text-nowrap"><a th:href="@{#}" onclick="$('#myModal').modal('show');" ><img src="/images/icons/edit32.png"></img></a>
			        <a th:href="@{/myhikes/deletehike(id=${hike.id})}"><img src="/images/icons/delete32.png"></img></a></td>
			        <td th:text="${hike.date}"></td>
			        <td><div th:each="mountain : ${hike.mountains}"><span th:text="${mountain}"></span></div></td>
			        <td th:text="${hike.miles}"></td>
			        <td th:text="${hike.elevation}"></td>
			        <td><div th:each="friend : ${hike.friends}"><span th:text="${friend}"></span></div></td>
			      </tr>
			      </tbody>
			      <tfoot>
			      <tr class="table-dark">
			        <td></td>
			        <td>Total:</td>
			        <td></td>
			        <td id="footerMiles"></td>
			        <td id="footerElevation"></td>
			        <td></td>
			      </tr>
			      </tfoot>
			    </table>
            </div>
        </div>
        <div class="row py-3">
            <div class="col">
                <a class="btn btn-peak" href="/home">Home</a>
            </div>
            <div class="col">
                <a class="btn btn-peak" href="/myhikes/addhike">Add Hike</a>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Delete Hike</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to delete this hike?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-peak">Yes</button>
	        <button type="button" class="btn btn-peak" data-dismiss="modal">No</button>
	      </div>
	    </div>
	  </div>
	</div>
    <script>
    $(document).ready(function(){
    	jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
    	    return this.flatten().reduce( function ( a, b ) {
    	        if ( typeof a === 'string' ) {
    	            a = a.replace(/[^\d.-]/g, '') * 1;
    	        }
    	        if ( typeof b === 'string' ) {
    	            b = b.replace(/[^\d.-]/g, '') * 1;
    	        }
    	 
    	        return a + b;
    	    }, 0 );
    	} );
    	
        $('#myHikesTable').DataTable( {

            drawCallback: function () {
                var api = this.api();
                $('#footerMiles').html(
                  api.column( 3, {page:'current'} ).data().sum()
                );
                $('#footerElevation').html(
                  api.column( 4, {page:'current'} ).data().sum()
                );
              },
        
	        "columnDefs": [
	            { "orderable": false, "targets": 0 }
	          ],
	          "order": [[ 1, 'asc' ]]
            } );
               
    });
    </script>
</body>
</html>