<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div class="row pt-3">
            <div class="col">
                <h2>My Hikes</h2>
            </div>
        </div>
        <div class="row" th:if="${status}">
            <div class="col">
                <div class="alert alert-danger" th:if="${not status.success}" th:text="${status.message}"></div>
                <div class="alert alert-success" th:if="${status.success}" th:text="${status.message}"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="myHikesTable" class="table table-hover">
                <thead>
			      <tr>
			        <th>Date</th>
			        <th>Mountains</th>
			        <th>Miles</th>
			        <th>Elevation</th>
			      </tr>
			    </thead>
			      <tbody>
			      <tr class="table-warning" th:each="hike : ${hikes}">
			        <td th:text="${hike.date}"></td>
			        <td><div th:each="mountain : ${hike.mountains}"><span th:text="${mountain}"></span></div></td>
			        <td th:text="${hike.miles}"></td>
			        <td th:text="${hike.elevation}"></td>
			      </tr>
			      </tbody>
			      <tfoot>
			      <tr class="table-dark">
			        <td>Total:</td>
			        <td></td>
			        <td id="footerMiles"></td>
			        <td id="footerElevation"></td>
			      </tr>
			      </tfoot>
			    </table>
            </div>
        </div>
        <div class="row py-3">
            <div class="col">
                <a class="btn btn-info" href="/home">Home</a>
            </div>
            <div class="col">
                <a class="btn btn-info" href="/myhikes/addhike">Add Hike</a>
            </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
    	jQuery.fn.dataTable.Api.register( 'sum()', function ( ) {
    	    return this.flatten().reduce( function ( a, b ) {
    	        if ( typeof a === 'string' ) {
    	            a = a.replace(/[^\d.-]/g, '') * 1;
    	        }
    	        if ( typeof b === 'string' ) {
    	            b = b.replace(/[^\d.-]/g, '') * 1;
    	        }
    	 
    	        return a + b;
    	    }, 0 );
    	} );
    	
        $('#myHikesTable').DataTable( {
            drawCallback: function () {
                var api = this.api();
                $('#footerMiles').html(
                  api.column( 2, {page:'current'} ).data().sum()
                );
                $('#footerElevation').html(
                  api.column( 3, {page:'current'} ).data().sum()
                );
              }
            } );
    });
    </script>
</body>
</html>