<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/header :: header"></div>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <div class="alert alert-peak">
	                <h2 th:text="${list.name}"></h2>
	                <h4 th:if="${list.friend != null}" class="float-right pr-3" th:text="|${user} and ${list.friend}|"></h4>
	                <h4 th:text="${list.description}"></h4>               
                    
                    <hr class="color-white bg-white"/>

			        <div class="form-group row">
			             <div class="col-3">
			                 <a class="btn btn-peak"  
			                 th:href="@{/list/user(name=${list.name},type=${list.type})}">My Progress</a>
			             </div>
			             <div class="col-3">
			             <a class="btn btn-peak"  
			             th:href="@{/list/grid/user(name=${list.name},type=${list.type})}">Grid Progress</a>
			             </div>
			             
			                 <label for="friend" >Progress With a Friend</label>
			             <div class="col-3">
			                 <select class="form-control" id="friend" name="friend">
			                       <option hidden="hidden">Pick a friend...</option>
			                       <option th:each="friend : ${friends}" th:text="${friend}" th:selected="${friend.equals(list.friend)}"></option>
			                 </select>
			             </div>
			         </div>
			     </div>
			 </div>
       </div>

       <div th:if="${list.isMountainType()}" th:replace="fragments/mountainlist :: usermountainlist"></div>
    </div>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

var name = [[${list.name}]];
var type = [[${list.type}]];

/*]]>*/
</script>

<script>
$('#friend').change(function() {
    location.href='/list/user\?name='+name+'\u0026type='+type+'\u0026friend='+$(this).val();
    
}); 
</script>
</html>